@use '../../../styles' as styles;

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.content-wrap {
  height: 70vh;
}
