<ng-container *ngIf="loading$ | async; else elseBlock">
  <app-loader></app-loader>
</ng-container>
<ng-template #elseBlock>
  <app-game-template>
    <header>
      <p class="title">Create new character</p>
    </header>
    <content>
        <app-game-tabs></app-game-tabs>
    </content>
    <app-button [title]="'help'" (click)="showHelp()" class="left-button"></app-button>
    <app-button [title]="'finish'" (click)="submitHandler()" class="right-button"></app-button>
  </app-game-template>
</ng-template>


