@use '../../../styles' as styles;

.container {
  height: 100%;
}

.border {
  margin: styles.spacing(2);
  height: 100%;
  max-height: -webkit-fill-available;
}

.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 10%;
}

.content {
  height: 90%;
}

.footer {
  height: styles.spacing(6);
  margin-top: styles.spacing(2);
}

.content-wrap {
  display: flex;
  height: 100%;
}

.content-block {
  @include styles.border-1;
  margin: styles.spacing(1);
  padding: styles.spacing(1);
}

.footer-wrap {
  display: flex;
  justify-content: space-around;
}
