@use '../../../../styles' as styles;

.text {
  @include styles.text;
}

.free-points-wrap {
  display: flex;
  justify-content: space-between;
}

.poins {
  @include styles.border-1;
  text-align: center;
  width: styles.spacing(2.5);
}

.empty {
  color:  styles.$selected-color;
}

.item-wrap {
  border: none;
  padding: styles.spacing(0, 0, 1.5);
  margin: 0;
}
