<div class="container">
  <div class="content">
    <form [formGroup]="statForm">
      <fieldset class="item-wrap">
        <input formControlName="strength" type="nummber" hidden>
        <app-stat-controll
          [value]="strength.value"
          [label]="'Strength:'"
          [increasDisabled]="isIncreaseDisabled() | async"
          (changeValueEvent)="changeHandler($event, 'strength')"
        ></app-stat-controll>
      </fieldset>
      <fieldset class="item-wrap">
        <input formControlName="agility" type="nummber" hidden>
        <app-stat-controll
          [value]="agility.value"
          [label]="'Agility:'"
          [increasDisabled]="isIncreaseDisabled() | async"
          (changeValueEvent)="changeHandler($event, 'agility')"
        ></app-stat-controll>
      </fieldset>
      <fieldset class="item-wrap">
        <input formControlName="stamina" type="nummber" hidden>
        <app-stat-controll
          [value]="stamina.value"
          [label]="'Stamina:'"
          [increasDisabled]="isIncreaseDisabled() | async"
          (changeValueEvent)="changeHandler($event, 'stamina')"
        ></app-stat-controll>
      </fieldset>
      <fieldset class="item-wrap">
        <input formControlName="speed" type="nummber" hidden>
        <app-stat-controll
          [value]="speed.value"
          [label]="'Speed:'"
          [increasDisabled]="isIncreaseDisabled() | async"
          (changeValueEvent)="changeHandler($event, 'speed')"
        ></app-stat-controll>
      </fieldset>
      <div class="free-points-wrap">
        <p class="title">Feee points:</p>
        <p class="text poins" [ngClass]="{'empty': !(freeStatPoints$ | async)}">{{freeStatPoints$ | async}}</p>
      </div>
    </form>
  </div>
  <div class="content">
    <p class="text">
    here description
    here description
    here description
    here description
    here description
    here description
    here description
    here description
    here description
    here description
    here description
    here description
    here description
    here description
    here description
    here description
    here description
    here description
    here description
    </p>
  </div>
</div>
