<form [formGroup]="statForm" class="item-wrap form">
  <fieldset class="input-wrap">
    <input formControlName="strength" type="nummber" hidden>
    <app-stat-controll [value]="strength.value" [label]="'strength'" (changeValueEvent)="changeHandler($event, 'strength')"> </app-stat-controll>
  </fieldset>
  <fieldset class="input-wrap">
    <input formControlName="agility" type="nummber" hidden>
    <app-stat-controll [value]="agility.value" [label]="'agility'" (changeValueEvent)="changeHandler($event, 'agility')"> </app-stat-controll>
  </fieldset>
  <fieldset class="input-wrap">
    <input formControlName="endurance" type="nummber" hidden>
    <app-stat-controll [value]="endurance.value" [label]="'endurance'" (changeValueEvent)="changeHandler($event, 'endurance')"> </app-stat-controll>
  </fieldset>
  <fieldset class="input-wrap">
    <input formControlName="speed" type="nummber" hidden>
    <app-stat-controll [value]="speed.value" [label]="'speed'" (changeValueEvent)="changeHandler($event, 'speed')"> </app-stat-controll>
  </fieldset>
</form>