@use '../../../../styles' as styles;

.container {
  padding: styles.spacing(1);
}

.label {
  @include styles.title;
  padding-bottom: styles.spacing(1);
}

.controll-wrap {
  display: flex;
  justify-content: space-between;
}

.value {
  @include styles.text;
  @include styles.border-1;
  text-align: center;
  width: styles.spacing(3);
}

button {
  background-color: styles.$background-color;
  color: styles.$primary-color;
}