@use '../../../../styles' as styles;

.container {
  @include styles.border-1;
  height: 100%;
}

.tab-list {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  height: styles.spacing(5);
  background-color: styles.$background-color;
}

/* Style the buttons that are used to open the tab content */
.tab {
  @include styles.text;
  @include styles.border-1;
  background-color: inherit;
  cursor: pointer;
  width: 33.3%;
}

.tab.active {
  font-weight: bold;
  border: none;
}