<form [formGroup]="appearanceForm" class="item-wrap form">
  <fieldset class="input-wrap">
    <p class="input-label text">Char name:</p>
    <input 
      formControlName="name"
      type="text"
      class="field"
      blackened
    >
    <ng-container *ngIf="!name.valid && (name.dirty ||name.touched)">
      <div appErrorText [hidden]="!name.errors?.required" >Name is required</div>
      <div appErrorText [hidden]="!name.errors?.maxlength" >Name too long</div>
    </ng-container>
  </fieldset>
  <fieldset class="input-wrap">
    <p class="input-label text">Race:</p>
    <select 
      formControlName="raceId"
      blackened
      class="field"
    >
      <option *ngFor="let race of races" value={{race.id}}>{{race.title}}</option>
    </select>
  </fieldset>
  <fieldset class="input-wrap">
    <p class="input-label text">Height:</p>
    <input
      formControlName='height'
      type="range"
      class="field slider"
      min={{selectedRace.minHeight}}
      max={{selectedRace.maxHeight}}
    >
  </fieldset>
  <fieldset class="input-wrap">
    <p class="input-label text">Weight:</p>
    <input
      formControlName='weight'
      type="range"
      class="field slider"
      min={{selectedRace.minWeight}}
      max={{selectedRace.maxWeight}}
    >
  </fieldset>
</form>