@use '../../../../styles' as styles;

.text {
  @include styles.text;
}

.title {
  @include styles.text;
}

.input-label {
  margin: styles.spacing(1, 0);
}

.input-wrap {
  border: none;
  padding: styles.spacing(0, 0, 1.5);
  margin: 0;
}

.field {
  padding: 0;
  margin: 0;
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  height: styles.spacing(1);
  background: styles.$primary-color;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: styles.spacing(2);
  height: styles.spacing(2);
  background: styles.$selected-color;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: styles.spacing(2);
  height: styles.spacing(2);
  background: styles.$selected-color;
  cursor: pointer;
}

.select-values {
  display: flex;
  justify-content: space-between;
}

.select-value {
  @include styles.text;
  font-size: 0.8em;
}

.selected-value {
  @include styles.text;
  @include styles.border-1;
  margin: styles.spacing(0.25);
  padding: styles.spacing(0.25);
  font-size: 1em;
}

.mirrored-sliders {
  padding-top: styles.spacing(1);
}