@use '../../../../styles' as styles;

.text {
  @include styles.text;
}

.title {
  @include styles.text;
}

.input-label {
  margin: styles.spacing(1, 0);
}

fieldset {
  border: none;
  padding: styles.spacing(1.5, 0);
  margin: 0;
}

.field {
  width: styles.spacing(25);
  padding: 0;
  margin: 0;
}

.slider {
  -webkit-appearance: none;
  height: styles.spacing(1);
  background: styles.$primary-color;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: styles.spacing(2);
  height: styles.spacing(2);
  background: styles.$selected-color;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: styles.spacing(2);
  height: styles.spacing(2);
  background: styles.$selected-color;
  cursor: pointer;
}