<div class="container">
  <div class="content">
    <form [formGroup]="appearanceForm" class="item-wrap form">
      <fieldset class="input-wrap">
        <p class="input-label">Char name:</p>
        <input 
          formControlName="name"
          type="text"
          class="field"
          appBlackened
        >
        <ng-container *ngIf="!name.valid && (name.dirty ||name.touched)">
          <div appInputError [hidden]="!name.errors?.required" >Name is required</div>
          <div appInputError [hidden]="!name.errors?.maxlength" >Name too long</div>
          <div appInputError [hidden]="!name.errors?.nameAlreadyExists" >Name is already taken</div>
        </ng-container>
      </fieldset>
      <fieldset class="input-wrap">
        <p class="input-label">Race:</p>
        <select
        data-test="race-select"
          formControlName="raceId"
          type="number"
          appBlackened
          class="field"
        >
          <option *ngFor="let race of races" value={{race.id}}>{{race.title}}</option>
        </select>
      </fieldset>
      <input
        formControlName='height'
        type="hidden"
      >
      <input
        formControlName='weight'
        type="hidden"
      >
    </form>
    <div class="input-wrap">
      <p class="input-label">Height:</p>
      <input
        type="range"
        class="field slider"
        data-test="height-slider"
        [(ngModel)]="selectedHeight"
        (change)="changeHandler($event, 'height')"
        min={{selectedRace.minHeight}}
        max={{selectedRace.maxHeight}}
      >
      <div class="select-values">
        <div class="select-value">{{selectedRace.minHeight}}</div>
        <div class="selected-value">{{selectedHeight}}</div>
        <div class="select-value">{{selectedRace.maxHeight}}</div>
      </div>
    </div>
    <div class="input-wrap">
      <p class="input-label">Weight:</p>
      <input
        type="range"
        class="field slider"
        data-test="weight-slider"
        [(ngModel)]="selectedWeight"
        (change)="changeHandler($event, 'weight')"
        min={{selectedRace.minWeight}}
        max={{selectedRace.maxWeight}}
      >
      <div class="select-values">
        <div class="select-value">{{selectedRace.minWeight}}</div>
        <div class="selected-value">{{selectedWeight}}</div>
        <div class="select-value">{{selectedRace.maxWeight}}</div>
      </div>
    </div>
  </div>
  <div class="content">
    <p class="info-text">
      Enter name, it must be unique.
    </p>
    <p class="race-info">
      Choose race. Race defines initial stats and height/weight limits. 
    </p>
    <p class="info-text">
      {{selectedRace.description}}
    </p>
    <p class="info-text">
      Height and Weight defines health. It may be balanced to receive more health.
    </p>
  </div>
</div>

