<div class="container">
  <div class="wrap">
    <div class="item">
      <div *ngIf="!isIndex" class="back-wrap">
        <button (click)="goBack()" data-test="back" class="button back"><</button>
      </div>
    </div>
    <div class="item">
      <div *ngIf="showLogo" class="logo-wrap">
        <app-logo></app-logo>
      </div>
    </div>
    <div class="item">
      <div *ngIf="(nickname$ | async) as value;" class="nickname-wrap dropdown">
        <button (click)="toggleDropdown()" data-test="nickname" class="button logout">{{ value }}</button>
        <div class="dropdown-content" #dropdown>
          <button (click)="logout()" data-test="logout" class="button logout">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>