@use '../../../styles' as styles;

.container {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  justify-content: space-between;
  height: styles.spacing(5);
}

.button {
  @include styles.text;
  @include styles.border-1;
  height: styles.spacing(3.5);
  background-color: styles.$background-color;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.back {
  padding: styles.spacing(0, 1.2);;
}

.item {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back-wrap {
  margin: styles.spacing(1);
}

.logo-wrap {
  text-align: center;
}

.nickname-wrap {
  text-align: right;
  margin: styles.spacing(1);
}

.nickname {
  cursor: auto;
}

.toggle-dropdown {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: styles.spacing(2.5);
}