<div class="container">
  <div class="logo-wrap">
    <app-logo [large]="true"></app-logo>
  </div>
  <div class="menu-wrap">
    <div class="button-wrap">
      <app-button [title]="'NEW GAME'"></app-button>
    </div>
    <div class="button-wrap">
      <app-button [title]="'REGISTER'"></app-button>
    </div>
    <div class="button-wrap">
      <app-button [title]="'LOGIN'"></app-button>
    </div>
    <div class="button-wrap">
      <app-button [title]="'LADDER'"></app-button>
    </div>
  </div>
</div>
