<div class="container">
  <div class="logo-wrap">
    <app-logo [large]="true"></app-logo>
  </div>
  <div class="menu-wrap">
    <div *ngIf="isAuthenticated" class="button-wrap">
      <app-button [title]="'NEW GAME'" (click)="goTo('newChar')"></app-button>
    </div>
    <div *ngIf="!isAuthenticated" class="button-wrap">
      <app-button [title]="'REGISTER'" (click)="goTo('register')"></app-button>
    </div>
    <div *ngIf="!isAuthenticated" class="button-wrap">
      <app-button [title]="'LOGIN'" (click)="goTo('login')"></app-button>
    </div>
    <div class="button-wrap">
      <app-button [title]="'LADDER'" (click)="goTo('ladder')"></app-button>
    </div>
  </div>
</div>
