@use '../../styles' as styles;

@mixin flex {
  display: flex;
}

.container {
  @include flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-wrap {
  @include flex;
}

.menu-wrap {
  @include flex;
  flex-direction: column;
  align-items: center;
}

.button-wrap {
  padding: styles.spacing(0.5);
}