<div class="container">
  <div class="content">
    <div class="logo-wrap">
      <app-logo [large]="true"></app-logo>
    </div>
    <div class="menu-wrap">
      <form [formGroup]="authForm" class="item-wrap form">
        <fieldset [disabled]="isSubmitting" class="input-wrap">
          <fieldset *ngIf="isRegister()" class="input-wrap">
            <p class="input-label text">Nickname:</p>
            <input 
              formControlName="nickname"
              type="text"
              blackened
            >
          </fieldset>
          <fieldset class="input-wrap">
            <p class="input-label text">Email:</p>
            <input 
              formControlName="email"
              type="text"
              blackened
            >
          </fieldset>
          <fieldset class="input-wrap">
            <p class="input-label text">Password:</p>
            <input 
              formControlName="password"
              type="password"
              blackened
            >
          </fieldset>
        </fieldset>
      </form>
      <div class="item-wrap">
        <app-button [title]="authType | titlecase" (click)="submitForm()"></app-button>
      </div>
      <div class="item-wrap">
        <p class="text">{{isRegister() ? 'Already have account ?' : 'Haven\'t account yet ?'}}</p>
      </div>
      <div class="item-wrap">
        <app-button [title]="isRegister() ? 'Login' : 'Register'" (click)="navigateTo()"></app-button>
      </div>
    </div>
  </div>
</div>
