@use '../../styles' as styles;

@mixin flex {
  display: flex;
}

.container {
  height: 100%;
}

.content {
  @include flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-wrap {
  @include flex;
}

.menu-wrap {
  @include flex;
  flex-direction: column;
  align-items: center;
}

.item-wrap {
  padding: styles.spacing(0.5);
}

.input-wrap {
  border: none;
  padding: styles.spacing(0.25);
}

.input-label {
  margin: styles.spacing(0.25);
}

.text {
  @include styles.text;
}