@use '../styles' as styles;

.container {
  height: 100vh;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-color: styles.$background-color;
}

.border {
  @include styles.border-2;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}

.wrap {
  height: -webkit-fill-available;
  padding: 10px;
}

.header {
  height: styles.spacing(6);
}

.content {
  height: 100%;
}
