<ng-container *ngIf="loading$ | async; else elseBlock">
  <app-loader></app-loader>
</ng-container>
<ng-template #elseBlock>
  <app-game-template>
    <header>
      <p data-test="title" class="title">{{title}}</p>
    </header>
    <content>
      <div class="container">
        <div class="char-info">
          <div class="block">
            <div class="stat-block">
              <div class="stat-group">
                <app-result-stat [title]="'Name'" [value]="characterData.name"></app-result-stat>
                <app-result-stat [title]="'Race'" [value]="characterData.race"></app-result-stat>
              </div>
              <div class="stat-group">
                <app-result-stat [title]="'Height'" [value]="characterData.height"></app-result-stat>
                <app-result-stat [title]="'Weight'" [value]="characterData.weight"></app-result-stat>
                <app-result-stat [title]="'Health'" [value]="characterData.health"></app-result-stat>
              </div>
              <div class="stat-group">
                <app-result-stat [title]="'Strength'" [value]="characterData.strength"></app-result-stat>
                <app-result-stat [title]="'Agility'" [value]="characterData.agility"></app-result-stat>
                <app-result-stat [title]="'Stamina'" [value]="characterData.stamina"></app-result-stat>
                <app-result-stat [title]="'Speed'" [value]="characterData.speed"></app-result-stat>
              </div>
              <div class="stat-group">
                <app-result-stat [title]="'Weapon'" [value]="characterData.weapon"></app-result-stat>
                <app-result-stat [title]="'Hit chanse'" [value]="characterData.hitChanse | addPercents"></app-result-stat>
                <app-result-stat [title]="'Damage'" [value]="characterData.damage"></app-result-stat>
                <app-result-stat [title]="'Initiative'" [value]="characterData.initiative"></app-result-stat>
              </div>
              <div class="stat-group">
                <app-result-stat [title]="'Armor'" [value]="characterData.armor"></app-result-stat>
                <app-result-stat [title]="'Mitigation'" [value]="characterData.mitigation"></app-result-stat>
                <app-result-stat [title]="'Dodge chanse'" [value]="characterData.dodgeChanse | addPercents"></app-result-stat>
              </div>
            </div>
            <div class="score-info">
              <app-result-stat [title]="'Your score:'" [value]="score$ | async"></app-result-stat>
            </div>
          </div>
          <div class="block">
            <img class="image"/>
          </div>
        </div>
      </div>
    </content>
    <app-button [title]="'main page'" (click)="goTo('')" class="left-button"></app-button>
    <app-button [title]="'ladder'" (click)="goTo('ladder')" class="right-button"></app-button>
  </app-game-template>
</ng-template>