@use '../../../../styles' as styles;

.title {
  @include styles.heading;
}

.container {
  display: flex;
  flex-direction: column;
}

.char-info {
  display: flex;
  flex-direction: row;
  height: 70%;
}

.score-info {
  padding: styles.spacing(1, 0, 0);
}

.block {
  width: 50%;
  padding: styles.spacing(1);
}

.stat-group {
  padding: styles.spacing(0, 0, 1);
}

.image {
  width: 100%;
  height: 100%;
}
