@font-face {
  font-family: "moria";
  src: url("assets/MoriaCitadel.ttf");
}

$primary-color: white;
$selected-color: brown;
$background-color: black;
$unit: 8px; 

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

// Base text style
@mixin text {
  color: $primary-color;
  font-family: system-ui;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

// Titles of smth
@mixin title {
  @include text;
  font-weight: bold;
}

// Small text for small blocks
@mixin text-small {
  @include text;
  font-size: 0.8em;
}

// Small text for small blocks
@mixin text-smallest {
  @include text;
  font-size: 0.6em;
}

// Page headers
@mixin heading {
  @include text;
  font-family: moria;
  font-size: 1.2em;
}

// Main border for outer blocks
@mixin border-1 {
  border: 1px solid $primary-color;
}

// Secondary blocks border
@mixin border-2 {
  border: 2px solid $primary-color;
}

// Generate spacing used mainly with margin or padding
@function spacing($top, $right: 0.1, $bottom: 0.1, $left: 0.1) {
  @if ($left != 0.1) {
    @return ($top * $unit $right * $unit $bottom * $unit $left * $unit);
  }
  
  @if ($bottom != 0.1) {
    @return ($top * $unit $right * $unit $bottom * $unit);
  }
  
  @if ($right != 0.1) {
    @return ($top * $unit $right * $unit);
  }

  @return ($top * $unit);
}
